In [1]:
import pandas as pd
import sqlite3 as db

In [2]:
conn = db.connect('database_1.db')
c = conn.cursor()

In [3]:
df = pd.read_sql_query('select * from users', conn)

In [4]:
df.head()

      ad        soyad    phone no
0  Elnur  Shahbalayev  0773061366
1  Hesen        Cemil  0283923894

In [20]:
ad = 'Hesen'
soyad = 'Cemil'
phone = '0283923894'

df = df.append({'ad':ad, 'soyad':soyad,'phone no':phone}, ignore_index=True)

C:\Users\Hp Envy\AppData\Local\Temp\ipykernel_6484\2599294724.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'ad':ad, 'soyad':soyad,'phone no':phone}, ignore_index=True)

In [21]:
df.head()

      ad        soyad    phone no
0  Elnur  Shahbalayev  0773061366
1  Hesen        Cemil  0283923894

In [24]:
df.to_sql('users',conn, index=False, if_exists='replace')

2