In [60]:
import mysql.connector

In [61]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/elnur/anaconda3/envs/pip_env/lib/python3.10/site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /home/elnur/anaconda3/envs/pip_env/lib/python3.10/site-packages (from mysql-connector-python) (3.20.1)

In [62]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1999"
)

In [63]:
cursor = mydb.cursor()

cursor.execute("use sql_store;")

In [64]:
cursor.execute("show databases")

In [65]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('test',)
('testdb',)

In [66]:
cursor.execute("select * from customers")

In [67]:
print(cursor)

CMySQLCursor: select * from customers

In [68]:
results = cursor.fetchall()

import pandas as pd

pd.DataFrame(results,columns=['a', 'b', 'c', 'd' , 'e ','b', 'c', 'd' , 'e '
                              ])

,a,b,c,d,e,b,c,d,e
0,1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,VA,2273
1,2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
2,3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
3,4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
4,5,Clemmie,Betchley,1973-11-07,None,5 Spohn Circle,Arlington,TX,3675
5,6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
6,7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672
7,8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
8,9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
9,10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796
10,11,Elnur,Shahbalayev,1999-11-14,773061366,"Baku, Hosvan",Baku,Az,2000

In [69]:
sql_query = pd.read_sql("select * from customers", mydb)

/home/elnur/anaconda3/envs/pip_env/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(