In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [39]:
df = pd.read_excel('data_cars_500.xlsx')
df.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6604711.0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,6454735.0,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,6528352.0,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,6314608.0,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,6604673.0,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [40]:
df[df['model']=='S 580 4MATIC']

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
2105,6602293.0,Bakı,Mercedes-Maybach,S 580 4MATIC,2022.0,Sedan,Qara,4.0 L,505 a.g.,Benzin,0 km,Avtomat,Tam,Bəli,319 000 $

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5039 entries, 0 to 5038
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   float64
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   float64
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5039 non-null   object
dtypes: float64(2), object(13)
memory usage: 590.6+ KB

In [42]:
df.drop('elan_nomresi_list', axis=1, inplace=True)

In [43]:
df.isna().sum()

seher              1
marka              1
model              1
buraxilis_ili      1
ban_novu           1
reng               1
muherrik           1
muherrik_gucu      1
yanacaq_novu       1
yurus              1
suretler_qutusu    1
oturucu            1
yeni               1
qiymet             0
dtype: int64

In [44]:
df.dropna(axis=0).isna().sum()

seher              0
marka              0
model              0
buraxilis_ili      0
ban_novu           0
reng               0
muherrik           0
muherrik_gucu      0
yanacaq_novu       0
yurus              0
suretler_qutusu    0
oturucu            0
yeni               0
qiymet             0
dtype: int64

In [45]:
df.dropna(axis=0, inplace=True)

In [46]:
df.head()

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [47]:
df['muherrik']=df['muherrik'].str.replace(' L','')

In [48]:
df['muherrik_gucu']=df['muherrik_gucu'].str.replace(' a.g.', '')

C:\Users\Hp Envy\AppData\Local\Temp\ipykernel_22828\988048171.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['muherrik_gucu']=df['muherrik_gucu'].str.replace(' a.g.', '')

In [49]:
df['yurus'] = df['yurus'].str.replace(' km', '')

In [50]:
df['yurus']=df['yurus'].str.replace(' ', '')
df.head()

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0,122,Benzin,366500,Avtomat,Arxa,Xeyr,4 950 AZN
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5,182,Benzin,50000,Avtomat,Ön,Xeyr,27 900 AZN
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6,405,Benzin,112000,Avtomat,Tam,Xeyr,43 800 $
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5,181,Benzin,147000,Avtomat,Ön,Xeyr,35 900 AZN
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5,306,Benzin,61000,Avtomat,Tam,Xeyr,49 000 $

In [51]:
df['qiymet_AZN']=df['qiymet'].str.replace(' ', '').str.replace('AZN', ' AZN').str.replace('$', ' $').str.replace('€',' €').str.split(expand=True)[0]
df['valyuta']=df['qiymet'].str.replace(' ', '').str.replace('AZN', ' AZN').str.replace('$', ' $').str.replace('€',' €').str.split(expand=True)[1]

df.head()

C:\Users\Hp Envy\AppData\Local\Temp\ipykernel_22828\86741122.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['qiymet_AZN']=df['qiymet'].str.replace(' ', '').str.replace('AZN', ' AZN').str.replace('$', ' $').str.replace('€',' €').str.split(expand=True)[0]
C:\Users\Hp Envy\AppData\Local\Temp\ipykernel_22828\86741122.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['valyuta']=df['qiymet'].str.replace(' ', '').str.replace('AZN', ' AZN').str.replace('$', ' $').str.replace('€',' €').str.split(expand=True)[1]

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet,qiymet_AZN,valyuta
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0,122,Benzin,366500,Avtomat,Arxa,Xeyr,4 950 AZN,4950,AZN
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5,182,Benzin,50000,Avtomat,Ön,Xeyr,27 900 AZN,27900,AZN
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6,405,Benzin,112000,Avtomat,Tam,Xeyr,43 800 $,43800,$
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5,181,Benzin,147000,Avtomat,Ön,Xeyr,35 900 AZN,35900,AZN
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5,306,Benzin,61000,Avtomat,Tam,Xeyr,49 000 $,49000,$

In [52]:
df.drop('qiymet', axis=1, inplace=True)

In [53]:
df['qiymet_AZN']=df['qiymet_AZN'].astype(int)

In [54]:
df.dtypes

seher               object
marka               object
model               object
buraxilis_ili      float64
ban_novu            object
reng                object
muherrik            object
muherrik_gucu       object
yanacaq_novu        object
yurus               object
suretler_qutusu     object
oturucu             object
yeni                object
qiymet_AZN           int32
valyuta             object
dtype: object

In [55]:
df[df['valyuta']=='$']['qiymet_AZN']*1.7

2        74460.0
4        83300.0
5        78030.0
6        40630.0
8        33660.0
          ...
5017    142460.0
5018    168300.0
5020    114750.0
5031     37060.0
5035     67150.0
Name: qiymet_AZN, Length: 1149, dtype: float64

In [56]:
df.loc[df['valyuta'] == '$', 'qiymet_AZN'] = df[df['valyuta']=='$']['qiymet_AZN']*1.70
df.loc[df['valyuta'] == '€', 'qiymet_AZN'] = df[df['valyuta']=='€']['qiymet_AZN']*1.71

In [57]:
df.head()

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN,valyuta
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0,122,Benzin,366500,Avtomat,Arxa,Xeyr,4950.0,AZN
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5,182,Benzin,50000,Avtomat,Ön,Xeyr,27900.0,AZN
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6,405,Benzin,112000,Avtomat,Tam,Xeyr,74460.0,$
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5,181,Benzin,147000,Avtomat,Ön,Xeyr,35900.0,AZN
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5,306,Benzin,61000,Avtomat,Tam,Xeyr,83300.0,$

In [58]:
df.drop('valyuta', axis=1, inplace=True)

In [59]:
df.head()

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0,122,Benzin,366500,Avtomat,Arxa,Xeyr,4950.0
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5,182,Benzin,50000,Avtomat,Ön,Xeyr,27900.0
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6,405,Benzin,112000,Avtomat,Tam,Xeyr,74460.0
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5,181,Benzin,147000,Avtomat,Ön,Xeyr,35900.0
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5,306,Benzin,61000,Avtomat,Tam,Xeyr,83300.0

In [60]:
df.dtypes

seher               object
marka               object
model               object
buraxilis_ili      float64
ban_novu            object
reng                object
muherrik            object
muherrik_gucu       object
yanacaq_novu        object
yurus               object
suretler_qutusu     object
oturucu             object
yeni                object
qiymet_AZN         float64
dtype: object

In [61]:
df[['muherrik', 'muherrik_gucu', 'yurus']] = df[['muherrik', 'muherrik_gucu', 'yurus']].astype(float)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5038 entries, 0 to 5037
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   seher            5038 non-null   object
 1   marka            5038 non-null   object
 2   model            5038 non-null   object
 3   buraxilis_ili    5038 non-null   float64
 4   ban_novu         5038 non-null   object
 5   reng             5038 non-null   object
 6   muherrik         5038 non-null   float64
 7   muherrik_gucu    5038 non-null   float64
 8   yanacaq_novu     5038 non-null   object
 9   yurus            5038 non-null   float64
 10  suretler_qutusu  5038 non-null   object
 11  oturucu          5038 non-null   object
 12  yeni             5038 non-null   object
 13  qiymet_AZN       5038 non-null   float64
dtypes: float64(5), object(9)
memory usage: 590.4+ KB

In [63]:
df.head()

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN
0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0,122.0,Benzin,366500.0,Avtomat,Arxa,Xeyr,4950.0
1,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5,182.0,Benzin,50000.0,Avtomat,Ön,Xeyr,27900.0
2,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6,405.0,Benzin,112000.0,Avtomat,Tam,Xeyr,74460.0
3,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5,181.0,Benzin,147000.0,Avtomat,Ön,Xeyr,35900.0
4,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5,306.0,Benzin,61000.0,Avtomat,Tam,Xeyr,83300.0

In [64]:
df.duplicated().sum()

93

In [65]:
df.drop_duplicates(inplace=True)

In [66]:
df.duplicated().sum()

0

In [67]:
df_num = df.select_dtypes(include=np.number)

In [68]:
df_num.head()

   buraxilis_ili  muherrik  muherrik_gucu     yurus  qiymet_AZN
0         1990.0       2.0          122.0  366500.0      4950.0
1         2018.0       2.5          182.0   50000.0     27900.0
2         2014.0       5.6          405.0  112000.0     74460.0
3         2014.0       2.5          181.0  147000.0     35900.0
4         2017.0       3.5          306.0   61000.0     83300.0

In [69]:
df_cat = df.select_dtypes(include=object)
df_cat.head()

,seher,marka,model,ban_novu,reng,yanacaq_novu,suretler_qutusu,oturucu,yeni
0,Bakı,Mercedes,190,Sedan,Yaş Asfalt,Benzin,Avtomat,Arxa,Xeyr
1,Bakı,Nissan,Altima,Sedan,Ağ,Benzin,Avtomat,Ön,Xeyr
2,Bakı,Nissan,Patrol,Offroader / SUV,Qara,Benzin,Avtomat,Tam,Xeyr
3,Bakı,Toyota,Camry,Sedan,Ağ,Benzin,Avtomat,Ön,Xeyr
4,Bakı,Mercedes,GLE 350,Offroader / SUV,Boz,Benzin,Avtomat,Tam,Xeyr

In [70]:
df_num.describe()

       buraxilis_ili     muherrik  muherrik_gucu          yurus     qiymet_AZN
count    4945.000000  4945.000000    4945.000000    4945.000000    4945.000000
mean     2008.433771     2.206754     172.311223  179217.922952   29021.988271
std         8.505930     0.933396      93.761608  120860.520012   36248.833388
min      1955.000000     0.000000      20.000000       0.000000     950.000000
25%      2004.000000     1.600000     102.000000   93080.000000   10300.000000
50%      2010.000000     2.000000     150.000000  170000.000000   16200.000000
75%      2014.000000     2.500000     211.000000  245000.000000   33500.000000
max      2022.000000     6.400000     639.000000  999999.000000  542300.000000

In [71]:
df_num.corr()

               buraxilis_ili  muherrik  muherrik_gucu     yurus  qiymet_AZN
buraxilis_ili       1.000000  0.086451       0.340746 -0.589445    0.516709
muherrik            0.086451  1.000000       0.830333 -0.019739    0.456730
muherrik_gucu       0.340746  0.830333       1.000000 -0.191578    0.658367
yurus              -0.589445 -0.019739      -0.191578  1.000000   -0.428626
qiymet_AZN          0.516709  0.456730       0.658367 -0.428626    1.000000

In [72]:
df['qiymet_AZN'].max()

542300.0

In [73]:
df['qiymet_AZN'].min()

950.0

In [74]:
df[df['qiymet_AZN']==df['qiymet_AZN'].max()]

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN
2105,Bakı,Mercedes-Maybach,S 580 4MATIC,2022.0,Sedan,Qara,4.0,505.0,Benzin,0.0,Avtomat,Tam,Bəli,542300.0

In [75]:
df[df['qiymet_AZN']==df['qiymet_AZN'].min()]

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN
2776,Xırdalan,LADA (VAZ),Oka,1998.0,Hetçbek / Liftbek,Göy,0.8,35.0,Benzin,175800.0,Mexaniki,Ön,Xeyr,950.0

In [76]:
df[df['yurus']==df['yurus'].max()]

,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet_AZN
1243,Bakı,LADA (VAZ),21099,1996.0,Sedan,Bej,1.5,78.0,Benzin,999999.0,Mexaniki,Ön,Xeyr,3300.0