In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('data_cars_500.xlsx')

df.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6604711.0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,6454735.0,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,6528352.0,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,6314608.0,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,6604673.0,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5039 entries, 0 to 5038
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   float64
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   float64
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5039 non-null   object
dtypes: float64(2), object(13)
memory usage: 590.6+ KB

In [4]:
df.isna().sum()

elan_nomresi_list    1
seher                1
marka                1
model                1
buraxilis_ili        1
ban_novu             1
reng                 1
muherrik             1
muherrik_gucu        1
yanacaq_novu         1
yurus                1
suretler_qutusu      1
oturucu              1
yeni                 1
qiymet               0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isna().sum()

elan_nomresi_list    0
seher                0
marka                0
model                0
buraxilis_ili        0
ban_novu             0
reng                 0
muherrik             0
muherrik_gucu        0
yanacaq_novu         0
yurus                0
suretler_qutusu      0
oturucu              0
yeni                 0
qiymet               0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5038 entries, 0 to 5037
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   float64
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   float64
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5038 non-null   object
dtypes: float64(2), object(13)
memory usage: 629.8+ KB

In [8]:
df['elan_nomresi_list'] = df['elan_nomresi_list'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5038 entries, 0 to 5037
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   int32
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   float64
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5038 non-null   object
dtypes: float64(1), int32(1), object(13)
memory usage: 610.1+ KB

In [10]:
df['elan_nomresi_list'].duplicated().sum()

80

In [11]:
df.duplicated().sum()

80

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

0

In [14]:
df['buraxilis_ili'] = df['buraxilis_ili'].astype(int)

In [15]:
df.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6604711,Bakı,Mercedes,190,1990,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,6454735,Bakı,Nissan,Altima,2018,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,6528352,Bakı,Nissan,Patrol,2014,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,6314608,Bakı,Toyota,Camry,2014,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,6604673,Bakı,Mercedes,GLE 350,2017,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [16]:
df[['muherrik','hecm_vahidi']] = df['muherrik'].str.split(' ', expand=True)
df[['muherrik_gucu','guc_vahidi']] = df['muherrik_gucu'].str.split(' ', expand=True)

df.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet,hecm_vahidi,guc_vahidi
0,6604711,Bakı,Mercedes,190,1990,Sedan,Yaş Asfalt,2.0,122,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN,L,a.g.
1,6454735,Bakı,Nissan,Altima,2018,Sedan,Ağ,2.5,182,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN,L,a.g.
2,6528352,Bakı,Nissan,Patrol,2014,Offroader / SUV,Qara,5.6,405,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $,L,a.g.
3,6314608,Bakı,Toyota,Camry,2014,Sedan,Ağ,2.5,181,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN,L,a.g.
4,6604673,Bakı,Mercedes,GLE 350,2017,Offroader / SUV,Boz,3.5,306,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $,L,a.g.

In [16]:
df[['muherrik_gucu','guc_vahidi']] = df['muherrik_gucu'].str.split(' ', expand=True)