In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data.csv')
df2 = pd.read_csv('data2.csv')
df3 = pd.read_csv('data3.csv')
df4 = pd.read_csv('data4.csv')
df5 = pd.read_csv('data5.csv')

In [10]:
df_new = pd.concat([df1, df2, df3, df4, df5])

In [12]:
df_new.columns

Index(['elan_nomresi_list', 'seher', 'marka', 'model', 'buraxilis_ili',
       'ban_novu', 'reng', 'muherrik', 'muherrik_gucu', 'yanacaq_novu',
       'yurus', 'suretler_qutusu', 'oturucu', 'yeni', 'qiymet'],
      dtype='object')

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1198 entries, 0 to 478
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  1198 non-null   int64
 1   seher              1198 non-null   object
 2   marka              1198 non-null   object
 3   model              1198 non-null   object
 4   buraxilis_ili      1198 non-null   int64
 5   ban_novu           1198 non-null   object
 6   reng               1198 non-null   object
 7   muherrik           1198 non-null   object
 8   muherrik_gucu      1198 non-null   object
 9   yanacaq_novu       1198 non-null   object
 10  yurus              1198 non-null   object
 11  suretler_qutusu    1198 non-null   object
 12  oturucu            1198 non-null   object
 13  yeni               1198 non-null   object
 14  qiymet             1198 non-null   object
dtypes: int64(2), object(13)
memory usage: 149.8+ KB

In [16]:
df_new.to_excel('turboaz_masinlar.xlsx', index=False)

In [17]:
df_new['elan_nomresi_list'].nunique()

1167