In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import pandas as pd

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.maximize_window()

In [3]:
df = pd.read_csv('Car_links_turboaz_5000.csv')
df

                                                Links
0         https://turbo.az/autos/6604711-mercedes-190
1        https://turbo.az/autos/6454735-nissan-altima
2        https://turbo.az/autos/6528352-nissan-patrol
3         https://turbo.az/autos/6314608-toyota-camry
4     https://turbo.az/autos/6604673-mercedes-gle-350
...                                               ...
5035     https://turbo.az/autos/6598841-lada-vaz-2104
5036   https://turbo.az/autos/6598840-hyundai-elantra
5037   https://turbo.az/autos/6598838-mercedes-gl-350
5038  https://turbo.az/autos/6598832-hyundai-santa-fe
5039    https://turbo.az/autos/6563536-chevrolet-aveo

[5040 rows x 1 columns]

In [4]:
elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet, yerlerin_sayi, sahibler, veziyyeti = [],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]


for i in range(len(df['Links'])):
    try:
        driver.get(df['Links'][i])
        elan_nomresi = driver.find_element_by_class_name('product-statistics')
        elan_nomresi = int(elan_nomresi.text.split()[-1])
        elan_nomresi_list.append(elan_nomresi)
        properties = driver.find_elements_by_class_name('product-properties-value')

        seher.append(properties[0].text)
        marka.append(properties[1].text)
        model.append(properties[2].text)
        buraxilis_ili.append(properties[3].text)
        ban_novu.append(properties[4].text)
        reng.append(properties[5].text)
        muherrik.append(properties[6].text)
        muherrik_gucu.append(properties[7].text)
        yanacaq_novu.append(properties[8].text)
        yurus.append(properties[9].text)
        suretler_qutusu.append(properties[10].text)
        oturucu.append(properties[11].text)
        yeni.append(properties[12].text)
        qiymet.append(properties[13].text)
        # yerlerin_sayi.append(properties[14].text)
        # sahibler.append(properties[15].text)
        # veziyyeti.append(properties[16].text)
    except:
        continue

In [5]:
# driver.get('https://turbo.az/autos/6579704-kia-rio')

In [6]:
# elan_nomresi = driver.find_element_by_class_name('product-statistics')
# elan_nomresi = int(elan_nomresi.text.split()[-1])
# elan_nomresi

In [7]:
# properties = driver.find_elements_by_class_name('product-properties-value')

# seher.append(properties[0].text)
# marka.append(properties[1].text)
# model.append(properties[2].text)
# buraxilis_ili.append(properties[3].text)
# ban_novu.append(properties[4].text)
# reng.append(properties[5].text)
# muherrik.append(properties[6].text)
# muherrik_gucu.append(properties[7].text)
# yanacaq_novu.append(properties[8].text)
# yurus.append(properties[9].text)
# suretler_qutusu.append(properties[10].text)
# oturucu.append(properties[11].text)
# yeni.append(properties[12].text)
# qiymet.append(properties[13].text)
# yerlerin_sayi.append(properties[14].text)
# sahibler.append(properties[15].text)
# veziyyeti.append(properties[16].text)

In [8]:
data = list(zip(elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet))

In [9]:
import numpy as np
df_new = pd.DataFrame(data, columns=['elan_nomresi_list','seher', 'marka', 'model', 'buraxilis_ili','ban_novu', 'reng', 'muherrik', 'muherrik_gucu', 'yanacaq_novu', 'yurus', 'suretler_qutusu', 'oturucu', 'yeni', 'qiymet'])

In [10]:
df_new.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6604711,Bakı,Mercedes,190,1990,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,6454735,Bakı,Nissan,Altima,2018,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,6528352,Bakı,Nissan,Patrol,2014,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,6314608,Bakı,Toyota,Camry,2014,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,6604673,Bakı,Mercedes,GLE 350,2017,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [11]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5038 entries, 0 to 5037
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   int64
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   object
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5038 non-null   object
dtypes: int64(1), object(14)
memory usage: 590.5+ KB

In [12]:
df_new.to_csv('data_cars_5000.csv', index=False)

In [15]:
df_new.to_excel('data_cars_500.xlsx', index=False)