In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('data_cars_500.xlsx')
df.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6604711.0,Bakı,Mercedes,190,1990.0,Sedan,Yaş Asfalt,2.0 L,122 a.g.,Benzin,366 500 km,Avtomat,Arxa,Xeyr,4 950 AZN
1,6454735.0,Bakı,Nissan,Altima,2018.0,Sedan,Ağ,2.5 L,182 a.g.,Benzin,50 000 km,Avtomat,Ön,Xeyr,27 900 AZN
2,6528352.0,Bakı,Nissan,Patrol,2014.0,Offroader / SUV,Qara,5.6 L,405 a.g.,Benzin,112 000 km,Avtomat,Tam,Xeyr,43 800 $
3,6314608.0,Bakı,Toyota,Camry,2014.0,Sedan,Ağ,2.5 L,181 a.g.,Benzin,147 000 km,Avtomat,Ön,Xeyr,35 900 AZN
4,6604673.0,Bakı,Mercedes,GLE 350,2017.0,Offroader / SUV,Boz,3.5 L,306 a.g.,Benzin,61 000 km,Avtomat,Tam,Xeyr,49 000 $

In [6]:
qiymetler = [qiymet.split() for qiymet in df['qiymet']]
qiymetler

AttributeError: 'int' object has no attribute 'split'

In [7]:
df['qiymet']

0        4 950 AZN
1       27 900 AZN
2         43 800 $
3       35 900 AZN
4         49 000 $
           ...
5034     8 500 AZN
5035      39 500 $
5036    34 000 AZN
5037     8 400 AZN
5038             0
Name: qiymet, Length: 5039, dtype: object